/*mejora de todo el cuerpo en general */
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(0, 0, 0);
	background: #050505; 
	font-size: 1em;
	line-height: 1.5em;
}


p {
	margin: 0 0 1.5em 0;
}

/*mejora los colores*/
#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}

/*
 * Logo acomoda todo el contenido de la pagina para que no se distercione con la cabecera 
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	body {
		margin: 0;
		padding: 0;
		font-family: Helvetica, Arial, sans-serif;
		color: rgb(0, 0, 0);
		background: #f2f2f2; 
		font-size: 1em;
		line-height: 1.5em;
		
		padding-top: 100px;
	}
	
	
	p {
		margin: 0 0 1.5em 0;
	}

	
	
	/************ 
	//-------------------------------
	// CABECERA
	//-------------------------------
	************/
	#main-header {
		/*Acomoda todo lo ideal para la cabezera, tamaño, xolor y color de letra*/
		background: #000000;
		color: white;
		height: 100px;
		
		width: 100%;
		left: 0;
		top: 0;
		position: fixed;
	}
		
	
	/************
	//-----------------------------
	// PIE PÁGINA para que el contenido se aline con la cabecera
	//-----------------------------
	************/
	#main-footer {
		background: #333;
		color: white;
		text-align: center;
		padding: 20px;
		margin-top: 40px;
	}
		#main-footer p {
			margin: 0;
		}
		
		#main-footer a {
			color: white;
		}

/*Definicion del tamaño de letra*/
p{
	font-size: 20px;
}

/*
 * Acomodo de imagenes 
 */
img{
	/*tamaño de las imagines*/
	width: 300px;
	height: 250px;
	/*Acomoda su pocicion*/
	margin: auto;
}


/*acomoda el texto de una forma algo central*/
html{
	font-family: system-ui;
  }
  
  .wrap{
	max-width: 1200px;
	margin: 0 auto;
  }